.productCartPage {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.button {
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 2px auto;
    padding: 5px;
    cursor: pointer;
}

.productCartInfo {
    width: 80vw;
}

.cartSignInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.cartSignInMessage {
    font-size: 1.6em;
}

.cartSignInButton {
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 2px auto;
    padding: 5px;
    cursor: pointer;
    width: 35vw;
    margin-top: 20px;
}

.placeOrderButtonContainer {
    display: flex;
    justify-content: center;
}

.placeOrderButton {
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px auto;
    padding: 15px 5px;
    cursor: pointer;
    width: 35vw;
    margin: 15px auto 50px auto;
}